<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cold-n-Yummy</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>  
    <%- include('../views/partials/header.ejs') %>
    <main>
     
        <section class="highscore">
            <h2>Highscore</h2>
                <% let i = 1 %> 
                <div class="container">
                    <% highscore.forEach(highscore => { %>
                        <% console.log(highscore) %> 
                        <p><%= i %>. <%= highscore.name %> - <%= highscore.count %>  </p>
                        <% i++ %> 
                    <% }) %>  
                </div>   
        </section>
    </main>
</body>
</html>