<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggest</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h2 class="header">Want to suggest a flavor?</h2>
        <form action="/sendsuggest" method="POST"> 
            <% if (login) { %>
                <input type="email" name="email" placeholder="Email" value="<%= login.email %> ">
            <% } else { %>
                <input type="email" name="email" placeholder="Email ">
                <% } %>
            <input type="text" name="suggestion" placeholder="Your suggestion">
            <button>Send you suggestion!</button>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>