<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote!</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h2 class="header">Vote for the yummiest flavor!</h2>
        <form action="/submitvote" method="POST">
            <select name="flavors" id="flavors">
                <% flavors.forEach(flavor => { %>
                    <option value="<%= flavor.name %>"><%= flavor.name %> </option>
                <% }) %> 
            </select>
            <button>Vote!</button>
        </form>
    </main>
</body>
</html>