<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h2 class="header">Welcome to Cold n' Yummy! </h2>
        <h2><%= user.email %></h2>
        <img src="../assets/heart.png" alt="A heart filled with ice cream!">
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>